body {
  background-color: #ffffff;
  color: #333;
  font: 14px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 20px 40px 0 40px;
  padding: 0;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.title {
  font-weight:bold;
  font-size:48px;
  text-transform: uppercase;
  background-color: #28333B;
  color: #C4D318;
}

.subtitle {
  font-size:20px;
  background-color: #28333B;
  color: #cccccc;
  font-style: italic;
}

a {
  color: #aaaaaa;
  background-color: #28333B;
  text-decoration: none;
  padding: 0 5px 0 5px;
}

a:hover {
  color: #C4D318;
}

.content {
  width: 900px;
  min-height: 300px;
}

.add-query {
  margin-bottom: 30px;
}

.feed {
  margin-bottom: 10px;
}

.feed .desc {
  padding-left: 7px;
}

.footer {
  text-align: center;
  font-size: 10px;
}

#id_form_add_query {
  display: none;
  margin-top: 7px;
}

.code-example {
  font: 12px monospace;
}