body {
  background-color: #f1efe6;
  color: #333;
  font: 14px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.title {
  font-weight:bold;
  font-size:48px;
  text-transform: uppercase;
  background-color: #28333B;
  color: #C4D318;
}

.subtitle {
  font-size:20px;
  background-color: #28333B;
  color: #7D7B6A;
  font-style: italic;
}

.content {
  min-height: 200px;
}

.footer {
  text-align: center;
  font-size: 10px;
}